---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import FeatherSection from "../components/FeatherSection.astro";
import CharacterGrid from "../components/CharacterGrid.astro";
import FooterCTA from "../components/FooterCTA.astro";
---

<BaseLayout>
  <Hero />
  <div class="mt-32">
    <FeatherSection />
  </div>
  <CharacterGrid />
  <FooterCTA />
</BaseLayout>
