<header class="w-full p-4">
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <a href="/" class="flex items-center">
      <div class="w-10 h-10 bg-teal-500 rounded-full flex items-center justify-center mr-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 7L12 3L20 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4 12L12 8L20 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4 17L12 13L20 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <span class="text-xl font-bold">NEXTLA</span>
    </a>
    
    <button id="menu-toggle" class="w-8 h-8 flex flex-col items-center justify-center">
      <span class="w-5 h-0.5 bg-white mb-1"></span>
      <span class="w-5 h-0.5 bg-white mb-1"></span>
      <span class="w-5 h-0.5 bg-white"></span>
    </button>
  </div>
</header> 