---
import cosmicBg from "../assets/visuals/cosmic_vector.svg?url";
---

<section
  id="hero"
  class="overflow-hidden
      w-full
      bg-center bg-cover
      shadow-lg
      relative"
  style={`background-image:url('${cosmicBg}');
          min-height:90vh;
          max-height:110vh;`}
>
  <div class="grid
      px-6
      absolute inset-0 place-items-center">
    <div class="inline-block
        relative">
      <!-- headline -->
      <h1
        class="z-10
          text-white text-1xl font-extrabold text-center leading-tight
          select-none
          relative
          sm:text-1xl
          md:text-2xl
          lg:text-3xl"
      >
        Imagine a<br />balanced world
      </h1>

      <!-- very faint blur behind just the text -->
      <span
        aria-hidden="true"
        class="bg-background/3
            pointer-events-none
            absolute inset-0 rounded backdrop-blur-[1px] -z-0"
      ></span>
    </div>
  </div>
</section>
