---
import cosmicBg from "../assets/visuals/cosmic_vector.svg?url";
---

<section
  id="hero"
  class="overflow-hidden
      w-full
      bg-center bg-cover
      shadow-lg
      relative"
  style={`background-image: url('${cosmicBg}'); min-height:75vh; max-height:85vh;`}
>
  <!-- Brightness overlay -->
  <div
    class="bg-black/20
      pointer-events-none
      absolute inset-0 backdrop-brightness-150"
  >
  </div>

  <!-- Horizontal fade (left/right) -->
  <!-- <div
    class="
      bg-gradient-to-r from-black via-transparent to-black
      opacity-30 pointer-events-none
      absolute inset-0
    "
  
  >
  </div> -->

  <!-- Vertical fade (bottom) -->
  <!-- <div
    class="
      bg-gradient-to-b from-transparent to-black
      opacity-50 pointer-events-none
      absolute inset-0
    "
  
  >
  </div> -->

  <!-- Headline overlaying the hero -->
  <div class="flex
      px-6
      absolute inset-0 items-center justify-center">
    <div class="inline-block
        text-center
        relative">
      <h1
        class="z-10
            text-white text-4xl font-extrabold text-center
            select-none
            sm:text-5xl
            md:text-6xl"
      >
        <div class="mt-16">Imagine</div>
        <div class="mt-4">a balanced</div>
        <div class="mt-4">world</div>
      </h1>
    </div>
  </div>
</section>

<!-- Bottom accent border (same as header underline) -->
<div
  class="h-[4px]
      bg-highlight bg-repeat-x bg-center bg-[length:100px_4px]"
>
</div>

<!-- Spacer section to transition cleanly -->
<section class="py-16"></section>
