---
import cosmicBg from "../assets/visuals/cosmic_vector.svg?url";
---

<section
  id="hero"
  class="overflow-hidden
      w-full
      bg-center bg-cover
      shadow-lg
      relative"
  style={`background-image:url('${cosmicBg}');
          min-height:90vh;
          max-height:110vh;`}
>
  <!-- full-area grid makes centering fool-proof -->
  <div class="grid
      px-6
      absolute inset-0 place-items-center">
    <div class="inline-block
        relative">
      <!-- headline -->
      <h1
        class="z-10
          text-white text-5xl font-extrabold text-center leading-tight
          relative
          sm:text-7xl
          md:text-8xl
          lg:text-9xl"
      >
        <!-- Imagine&nbsp;a<br />balanced<br />world
          -->
        Imagine <br/>a balanced world
      </h1>

      <!-- subtle blur behind just the headline -->
      <span
        aria-hidden="true"
        class="bg-background/4
            pointer-events-none
            absolute inset-0 rounded /* 4 % opacity */ backdrop-blur-[2px] -z-0"
      ></span>
    </div>
  </div>
</section>
