---
import cosmicBg from "../assets/visuals/cosmic_vector.svg?url";
---

<section
  id="hero"
  class="overflow-hidden
      w-full
      bg-cover bg-no-repeat
      shadow-lg
      relative"
  style={`background-image: url('${cosmicBg}'); 
          background-position: 45% center; 
          min-height:75vh; 
          max-height:90vh;`}
>
  <!-- Brightness overlay -->
  <div
    class="bg-black/10
      pointer-events-none
      absolute inset-0 backdrop-brightness-125"
  >
  </div>

  <!-- Headline overlaying the hero -->
  <div class="flex
      px-6
      absolute inset-0 items-center justify-center">
    <div class="inline-block
        text-center
        relative">
      <h1
        class="z-10
            text-white text-4xl font-extrabold text-center
            tracking-wider
            select-none
            drop-shadow-[0_3px_18px_rgba(0,0,0,0.8)]
            sm:text-5xl
            md:text-6xl"
      >
        <div class="mt-4">Imagine</div>
        <div class="mt-4">a balanced</div>
        <div class="mt-3">world</div>
      </h1>
    </div>
  </div>
</section>

<!-- Bottom accent border -->
<div
  class="h-[4px]
      bg-highlight bg-repeat-x bg-center bg-[length:100px_4px]"
>
</div>
